body {
    background-color: #1c2431;
}
h1 {
    color: #ffffff;
    text-align: center;
}
#map {
    height: 600px;
    width: 80%;
    border: 2px solid white;
    /* display: none; */
}
#ask-for-login {
    color: #f5f5f5;
}
/* #authorize-button, #signout-button {
    display: none;
} */